
{% load static %}
<link rel="stylesheet" href="{% static 'build/css/styles.css' %}">

 <!-- Footer-->
 <footer class="footer text-center" style="height:50px">
    <div class="container" >
        <div class="row">
            <!-- Footer Location-->
            <div class="col-lg-4 mb-5 mb-lg-0">
                <h4 class="text-uppercase mb-4" style>CISCO Perú Lab</h4>
            </div>
            <!-- Footer Social Icons-->
            <div class="col-lg-4 mb-5 mb-lg-0">
            </div>
            <!-- Footer About Text-->
            <div class="col-lg-4">
                <h4 class="text-uppercase mb-4">Sandbox</h4>
            </div>
        </div>
    </div>
</footer>
<!-- Copyright Section-->
<div class="copyright py-4 text-center text-white">
    <div class="container"><small>Copyright &copy; Developed by: michluna, alestela, julimend and natdiaz</small></div>
</div>